{% extends "reviews/base.html" %}

{% block title %}
Your review
{% endblock title %}

{% block content %}
<form action="/" method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-control {% if field.errors %}errors{% endif %}">
        {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit">Send</button>
</form>
{% endblock content %}
    
                {% comment %} {% if has_error %}
                    <p>This form is invalid, please enter a valid name</p>
                {% endif %} {% endcomment %}
        
                {% comment %} <label for="username">your name</label>
                <input id="username" name="user" type="text"> {% endcomment %}
                {% comment %} {{ form }} {% endcomment %}


    {% comment %} <div class="form-control {% if form.review_text.errors %}errors{% endif %}">
        {{ form.review_text.label_tag }}
        {{ form.review_text }}
        {{ form.review_text.errors }}
    </div> {% endcomment %}